node_modules
out
dist
*.tgz

coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# variáveis de ambiente
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

.idea

.DS_Store

# banco de dados
db/*.sqlite